$primary-color: #ffe8d2;
$secondary-color: #ffad0d;
$tertiary-color: #d26500;
$fourth-color: #FFF4DE;
$white-color: #fff;
$gray-color: #979797;
$blue-color: #4064ac;
$red-color: #c10a4b;
$black-color: #000;
